* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    -webkit-transform-transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    -webkit-transform-transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    -webkit-transform-transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    -webkit-transform-transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform-origin-transform-origin: 100% 0%;
  }
}
.container {
  margin: 0 auto;
  position: relative;
  max-width: 1300px;
}

.container-2 {
  margin: 0 auto;
  position: relative;
  max-width: 1300px;
  overflow: hidden;
  padding-left: 0;
}

.navigation-menu {
  display: flex;
  height: 80px;
}
.navigation-menu__items {
  padding-top: 28px;
}
.navigation-menu__items_ul {
  display: flex;
  width: 274px;
}
.navigation-menu__item {
  margin-right: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.navigation-menu__item:last-child {
  position: relative;
  margin-right: 0px;
}
.navigation-menu__item_a {
  text-decoration: none;
  outline: none;
  color: #000000;
}
.navigation-menu__item_a:hover {
  font-weight: 700;
  border-bottom: 2px solid #000000;
}
.navigation-menu__icons {
  padding-top: 24px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 176px;
  height: 30px;
}
.navigation-menu__icons_box {
  width: 26px;
  height: 30px;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.active {
  display: none;
}

.active-44 {
  margin-left: 20px;
  transition: all ease 0.5s;
  margin-right: 15px;
}

input {
  width: 260px;
  height: 35px;
  border: 1px solid black;
  border-radius: 18px;
  transition: all ease 1s;
}

.search-2 {
  margin-left: -100px;
  transition: all ease 0.5s;
}

.sign {
  margin-left: -150px;
  transition: all ease 0.3s;
}

.debosh-2 {
  transition: all ease 0.2s;
}

.urna-2 {
  display: none;
}

.urna {
  position: absolute;
  top: 65px;
  width: 200px;
  height: 300px;
  border-radius: 18px;
  border: 1px solid #bbb;
  background: #ffff;
  z-index: 2;
}
.urna_button {
  position: absolute;
  top: 8px;
  left: 166px;
  text-decoration: none;
  outline: none;
  border: none;
  background: #ffff;
  cursor: pointer;
}
.urna_krest {
  height: 15px;
  width: 15px;
}
.urna__box {
  position: relative;
  padding-top: 50px;
}
.urna_img {
  padding-left: 86px;
  padding-bottom: 10px;
}
.urna_text {
  text-align: center;
  font-weight: 700;
  padding-bottom: 40px;
}
.urna_text-2 {
  padding-left: 10px;
  padding-bottom: 75px;
}
.urna_text-2_span {
  padding-left: 70px;
}
.urna_hr {
  border: 1px dotted black;
  width: 175px;
}
.urna_title {
  margin-top: 0.2em;
  margin-left: 10px;
}

.logo {
  margin-left: 228px;
}
.logo_text {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #a0a0a0;
  letter-spacing: 10%;
  margin-right: 333px;
}
.logo_text_span {
  font-weight: 700;
  color: #000000;
}

.background {
  position: relative;
  width: 1400px;
  height: 300px;
}

.first-section {
  height: 300px;
  background-color: #111111;
  margin-bottom: 50px;
}
.first-section__content_title {
  position: absolute;
  top: 50px;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}
.first-section__content_text {
  position: absolute;
  top: 128px;
  width: 559px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.first-section__content_button {
  position: absolute;
  top: 230px;
}
.first-section__content_button_setting {
  width: 200px;
  height: 40px;
  border-radius: 16px;
  display: inline-block;
  background: #ffffff;
  padding: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 -5px 0 #bbbbbb;
  transition: 0.4s ease-in-out;
}
.first-section__content_button_setting:hover {
  box-shadow: inset 0 -60px 0 #bbbbbb, 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.first-section__content_button_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
.first-section_footers {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.first-section_footer-1 {
  padding-left: 1136px;
  position: absolute;
  overflow: hidden;
}

.interval-section {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-bottom: -100px;
}
.interval-section_background {
  width: 1980px;
  z-index: -1;
}
.interval-section_vector {
  position: absolute;
  top: 340px;
}

.second-section {
  position: relative;
  background-color: #ffffff;
  min-height: 640px;
}
.second-section__content-box_img {
  position: absolute;
  top: 19px;
  left: 18px;
}
.second-section__content-box {
  position: absolute;
  top: -40px;
  height: 272px;
  width: 602px;
  background: #EFEFEF;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  transition: 1s;
}
.second-section__content-box:hover {
  height: 292px;
  width: 622px;
}
.second-section__content-box_title {
  padding-top: 60px;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  line-height: 58px;
  color: #FF3939;
  padding-left: 66px;
  margin: 0;
}
.second-section__content-box_text {
  padding-top: 10px;
  width: 280px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  padding-left: 66px;
  padding-bottom: 10px;
}
.second-section__content-box_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  margin-left: 86px;
  border-radius: 35px;
  background: #ffffff;
}
.second-section__content-box__right-wrapper {
  position: absolute;
  top: -108px;
  left: 150px;
}
.second-section__text-box {
  position: absolute;
  top: 350px;
  text-align: center;
  width: 1300px;
}
.second-section__text-2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.second-section__title-2 {
  font-weight: 900;
  font-style: italic;
  font-size: 80px;
  line-height: 97px;
}
.second-section__text-3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}

.second-content-box {
  margin-left: 674px;
}

.button-2 {
  margin-top: 28px;
}

.red-shoe {
  height: 465px;
  width: 530px;
}

.third-section {
  position: relative;
  height: 827px;
  margin: 0 auto;
  overflow: hidden;
}
.third-section__slider_button-img {
  padding-top: 4px;
}
.third-section__content-title-buttons {
  display: flex;
  align-items: center;
}
.third-section__title {
  padding-top: 103px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.third-section__slider-line {
  position: relative;
  left: 10px;
  display: flex;
  height: 668px;
  overflow: hidden;
  width: 2700px;
  transition: all ease 1s;
}
.third-section__slider-item {
  margin-top: 33px;
  height: 500px;
  width: 400px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: #efefef;
  margin-right: 38px;
  border-radius: 18px;
  overflow: hidden;
  background-image: url("/nike-store/img/NIKE.png");
  background-repeat: no-repeat;
  background-position: center;
}
.third-section__slider-item:last-child {
  margin-right: 0px;
}
.third-section__slider_button-item {
  position: absolute;
  top: 103px;
  z-index: 1;
  height: 55px;
  width: 55px;
  border-radius: 35px;
  color: whitesmoke;
  border: none;
  text-decoration: none;
}
.third-section__slider-img {
  z-index: 1;
  width: 380px;
  height: 315px;
}
.third-section__title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  padding-left: 36px;
}
.third-section__price {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding-left: 36px;
  padding-top: 30px;
}
.third-section__position {
  margin-left: 307px;
}
.third-section__a {
  width: 55px;
  height: 55px;
  border-radius: 35px;
}
.third-section__button-img {
  padding-left: 18px;
  padding-top: 19px;
}
.third-section_button {
  transform: rotate(180deg);
}

.prev {
  margin-left: 1140px;
}

.next {
  margin-left: 1220px;
}

.content-box {
  margin: 0 auto;
  width: 1300px;
  height: 668px;
  z-index: 1;
  overflow: hidden;
}

.fourth-section {
  height: 1830px;
}
.fourth-section_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 30px;
}
.fourth-section__content-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fourth-section__content-box {
  width: 650px;
  height: 570px;
}

.box-1 {
  display: flex;
  align-items: center;
}
.box-1_text {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.3em;
  margin: 0 auto;
}

.box-2 {
  position: relative;
  overflow: hidden;
}
.box-2_gif {
  position: absolute;
  left: -170px;
  height: 570px;
}

.box-3 {
  position: relative;
  overflow: hidden;
}
.box-3_gif {
  position: absolute;
  height: 570px;
}

.box-6_gif {
  height: 650px;
}

.fifth-section {
  height: 573px;
}
.fifth-section_content-button_a {
  text-decoration: none;
  outline: none;
  height: 20px;
}
.fifth-section_title {
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 100px;
}
.fifth-section__boxes {
  display: flex;
}
.fifth-section_content-box {
  position: relative;
  width: 606px;
  height: 272px;
  border-radius: 18px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  background: #EFEFEF;
  margin-right: 53px;
  padding-left: 48px;
  padding-top: 51px;
}
.fifth-section_content-box:last-child {
  margin-right: 0px;
}
.fifth-section_content-title {
  color: #FF3939;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.fifth-section_content-title_span {
  font-size: 30px;
  line-height: 36px;
}
.fifth-section_content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 45px;
}
.fifth-section_content-button {
  width: 180px;
  height: 54px;
  background: #000000;
  border-radius: 16px;
  text-decoration: none;
  border: none;
  z-index: 2;
}
.fifth-section_content-button_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.fifth-section_content-img {
  position: absolute;
  top: -107px;
  left: 183px;
}

.img {
  position: absolute;
  top: -70px;
  left: 221px;
}

.fifth-section_content-button_a {
  width: 180px;
  height: 54px;
  border-radius: 16px;
  z-index: 2;
}

.sixth-section {
  height: 364px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48p;
}
.sixth-section__content-box {
  background-image: url("/nike-store/img/image 11.png");
  height: 324px;
  width: 1400px;
  margin: 0 auto;
}
.sixth-section__content-title {
  width: 308px;
  padding-top: 44px;
  padding-left: 50px;
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  padding-bottom: 25px;
}
.sixth-section__content-text {
  width: 446px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFfff;
  padding-bottom: 25px;
}
.sixth-section__content-span {
  font-weight: 700;
}
.sixth-section__content-button {
  margin-left: 50px;
  text-decoration: none;
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 16px;
}
.sixth-section__content-p {
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #000000;
}
.sixth-section__content-a {
  text-decoration: none;
  outline: none;
}

.footer {
  position: relative;
  background-color: #000000;
  height: 320px;
}
.footer__content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__content-box_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 50px;
}
.footer_box-1 {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
}
.footer_box-2 {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
}
.footer_img-1 {
  position: absolute;
  margin: 0 auto;
  top: 75px;
  margin-left: 400px;
}

.a-2 {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

@media (max-width: 450px) {
  .container {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
  }

  .container-phone {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  .first-section {
    height: 391px;
    position: relative;
    margin-bottom: 0px;
  }

  .navigation-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    height: 57px;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
  }
  .nav-menu__button {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    margin-right: 53px;
    cursor: pointer;
  }
  .nav-menu__button_img {
    margin-top: 1px;
    margin-left: 20px;
    height: 23px;
    width: 33px;
  }

  .logo_text {
    font-size: 20px;
    margin-right: 53px;
  }

  .burger-2 {
    display: none;
  }

  .burger {
    position: absolute;
    height: 630px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .navigation-menu__icons_item {
    margin-left: 21px;
    margin-top: 20px;
    margin-right: 16px;
  }

  .burger__search {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .burger__input {
    margin-top: 23px;
    outline: none;
    border: none;
    transition: none;
    font-size: 21px;
  }
  .burger__sign {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .burger__sign_text {
    margin-top: 23px;
    font-size: 21px;
    color: #747474;
  }
  .burger__button {
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
  }
  .burger_ul {
    margin-left: 21px;
  }
  .burger_item {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 30px;
  }
  .burger_item:last-child {
    margin-bottom: 89px;
  }
  .burger_logo {
    margin-left: 28%;
  }

  .navigation-menu__items_ul {
    z-index: 2;
  }

  .scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .background {
    display: none;
  }

  .first-section_footer {
    display: none;
  }

  .first-section_footer-1 {
    display: none;
  }

  .gif-phone {
    width: 375px;
  }

  .first-section__content_title {
    font-size: 16px;
  }

  .first-section__content {
    height: 200px;
    width: 100%;
    z-index: 1;
    margin-left: 20px;
  }
  .first-section__content_text {
    position: absolute;
    top: 93px;
    font-size: 9px;
    width: 287px;
  }
  .first-section__content_button {
    top: 170px;
  }
  .first-section__content_button_setting {
    width: 115px;
    height: 30px;
    padding-top: 5px;
  }
  .first-section__content_button_text {
    font-size: 10px;
  }

  .container-phone-2 {
    top: 176px;
    position: absolute;
    height: 200px;
    width: 100%;
  }

  .interval-section_background {
    width: 600px;
    margin-left: 42px;
    z-index: 0;
  }

  .interval-section_vector {
    top: 85px;
    width: 99px;
  }

  .second-section {
    height: 400px;
    z-index: 1;
  }
  .second-section__content-box {
    position: static;
    width: 290px;
    height: 170px;
    transition: none;
    z-index: 1;
    overflow: none;
  }
  .second-section__content-box_title {
    padding-top: 8px;
    font-size: 20px;
    padding-left: 36px;
    height: 42px;
  }
  .second-section__content-box_text {
    font-size: 12px;
    width: 192px;
    padding-left: 32px;
    width: 160px;
  }
  .second-section__content-box_button {
    height: 35px;
    width: 35px;
    margin-left: 50px;
  }
  .second-section__content-box_img {
    height: 15px;
    width: 17px;
    top: 8px;
    left: 9px;
  }
  .second-section__content-box__right-wrapper {
    top: -72px;
    left: 51px;
  }
  .second-section__content-box__right-wrapper_img {
    width: 322px;
    height: 288px;
  }

  .wrapper-2 {
    display: none;
  }

  .first_phone {
    position: absolute;
    left: 40px;
    top: -22px;
  }

  .third-section__a {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 451px) {
  .nav-menu {
    display: none;
  }

  .burger {
    display: none;
  }

  .background-phone {
    display: none;
  }

  .background-phone-2 {
    display: none;
  }

  .gif-phone {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
